<nav class="navbar">
    @if (!isProfilePage) {
        <a routerLink="/profile" routerLinkActive="active" class="nav-item">
            <span>Мой профиль</span>
        </a>
    }
    <a routerLink="/collection" routerLinkActive="active" class="nav-item">
        <span>Моя коллекция</span>
    </a>
    <a routerLink="/farm" routerLinkActive="active" class="nav-item">
        <span>Фарм</span>
    </a>
    <a routerLink="/rating" routerLinkActive="active" class="nav-item">
        <span>Рынок</span>
    </a>
</nav>
