<nav class="navbar">
    @if (currentUrl !== '/profile') {
        <a routerLink="/profile" routerLinkActive="active" class="nav-item">
            <span>Мой профиль</span>
        </a>
    }
    @if (currentUrl !== '/collection') {
        <a routerLink="/collection" routerLinkActive="active" class="nav-item">
            <span>Моя коллекция</span>
        </a>
    }
    @if (currentUrl !== '/farm') {
        <a routerLink="/farm" routerLinkActive="active" class="nav-item">
            <span>Фарм</span>
        </a>
    }
    @if (currentUrl !== '/market') {
        <a routerLink="/market" routerLinkActive="active" class="nav-item">
            <span>Рынок</span>
        </a>
    }
</nav>
