<div class="home-container">
  <header class="header">
    <h1>Добро пожаловать в NFT Collection!</h1>
    <p class="subtitle">Ваш помощник в мире криптовалют и NFT.</p>
  </header>

  <main class="main-content">
    <div class="card">
      <h2>Простой Калькулятор</h2>
      <p>Начните с простого. Попробуйте наш калькулятор для быстрых вычислений.</p>
      <a routerLink="/calculator" class="cta-button">Перейти к калькулятору</a>
    </div>
  </main>

  <footer class="footer">
    <p>© 2024 Gelent App</p>
  </footer>
</div>
