.app-container {
    padding-top: 70px; /* Changed from padding-bottom */
}

:host {
  /* Заставляем корневой компонент работать как flex-контейнер
     и занимать всю высоту экрана */
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Предотвращаем случайную прокрутку всей страницы */
}

/* 
  Маленький трюк для Angular: компонент, который загружается через <router-outlet>,
  становится его "соседом". Мы обращаемся к этому соседнему компоненту (*),
  чтобы он занял всё оставшееся пространство.
*/
::ng-deep router-outlet + * {
  flex-grow: 1;
  display: block;
  overflow-y: auto; /* Позволяем прокрутку на страницах, где это нужно (как Профиль) */
}
